

body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

/* Container Animes */
.container-animes{
    margin-top: 100px;
}

/* Card Anime*/
.card-anime img{
    /*width:240px;
   /* height:150px;
    /*border-radius: 50px;*/
    transition: transform .2s;
}

.card-anime:hover .miniature {
    opacity: 0.5;
    transform: scale(1.2);
}

.card-anime > a > .middle-card-anime {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.card-anime:hover .middle-card-anime {
    opacity: 1;
}

.card-anime > a > .middle-card-anime > .anime-play{
    width:50px;
    height:auto;
}

.card-anime > a > .top-card-anime {
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    transition: .2s ease;
}

.card-anime:hover .top-card-anime {
    opacity: 1;
}

.card-anime > a > .top-card-anime > h3 {
    text-align:center;
    color:#000;
}


/* Video anime */
#video-anime {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}


.button-back-anime{
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

.video-return {
    position: fixed;
    padding: 20px;
    top: 5px;
    left:5px;
}

.video-return > img{
    width:50px;
    height:50px;
}

/* Style the button used to pause/play the video */
#btn-start {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#btn-start:hover {
    background: #ddd;
    color: black;
}

/* New session */
.img-fluid{
    max-width: 100%;
    height: auto;
}
/* Teste */

.left-card{
    position: absolute;
    left: 150px;
    display: flex;
    align-items: center;
    top: 170px;
}

.left-card > i{
    font-size:40px;
}
