html {
    overflow: scroll;
    overflow-x: hidden;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}
.card-anime img{
    width:263px;
    height:158px;
    /*border-radius: 50px;*/
    transition: transform .2s;
}

.card-anime:hover img {
     opacity: 0.5;
     transform: scale(1.2);
}


/*
.left-card{
    position: absolute;
    left: 150px;
    display: flex;
    align-items: center;
    top: 170px;
}

.left-card > i{
    font-size:40px;
}*/
