
body {
    background-color: #141414;
    color: #fff;
    overflow-x : hidden;
}

img { max-width:100%; }


.content{
    margin-top: 50px;
}

.container{
    margin-left: 0;
    width: 100%;
}

.thumbnails > .col-sm-3:hover{
    /* transform: scale(1.2);
     transition-duration: 0.3s;
    margin-right: 20px;
    margin-left: 20px*/
}

/********************************************** CAROUSEL **********************************************/

#container-carousel{
    margin-top: 50px;
    -webkit-transition: opacity 1000ms, visibility 1000ms;
    transition: opacity 1000ms, visibility 1000ms;
}

#container-carousel > .col-xs-12{
    margin-bottom: 30px;
}

.carousel-inner{
    margin-left: 18px;
}

.card{
    box-shadow: 1px 1px 10px 1px #000;
}

.thumbnails li> .card .caption {
    background:#fff !important;
    padding:10px
}

.thumbnails li{
    width: 230px;
    padding: 10px;
}

.card-info{
    width: 210px;
    background-color: #141414;
    z-index: 99;
    position: absolute;
    top: 10px;
    height: 130px;
    opacity: 0;
    cursor: pointer;
    -webkit-transition: opacity 500ms;
}

.card-info > h5{
    background-color: #000;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card-info > h5 > .status{
    top: 0;
    width: 10px;
    height: 10px;
    margin-top: 12px;
    margin-left: 8px;
    border-radius: 20px;
    background-color: #39e80d;
    position: absolute;
}

.card-info > h5 > span{
    margin-left: 25px;
}

.card-info > span{
    margin-left: 10px;
    margin-top: 10px;
    display: table;
    display: -webkit-box;
    font-size: 13px;
    font-family: sans-serif;
}

.card-info > .play{
    position: absolute;
    right: 10%;
    bottom: 10%;
    border-radius: 100px;
}

.card-info > .play > i{
    font-size: 35px;
    color: #ffffff;
}

.thumbnail{
    padding: 0 !important;
    border: none !important;
    margin: 0 !important;
}

.page-header h3 {
    line-height: 0.88rem;
    color: #000;
}

.carousel-header h4{
    left: 55px;
    position: relative;
}

ul.thumbnails {
    margin-bottom: 0;
}

.caption h4 {
    color: #444;
}

.caption p {
    color: #999;
}

.thumbnail > a img{
    height: 130px;
}

/* Mobile Only */
@media (max-width: 767px) {
    .page-header, .control-box {
        text-align: center;
    }
}
@media (max-width: 479px) {
    .caption {
        word-break: break-all;
    }
}

li { list-style-type:none;}


/********************************************** CAROUSEL CONTROLS**********************************************/

.carousel-controls{
    position: absolute;
    background-color: transparent!important;
    border: none!important;
    opacity: 0.5;
    border: 0;
    border-radius: 0;
    display: inline-block;
    font-size: 34px;
    font-weight: 200;
    line-height: 18px;
    padding: 4px 10px 0;
    height: 30px;
    width: 15px;
}

.carousel-controls:hover{
    opacity: 0.8;
}

.carousel-controls i{
    font-size: 30px;
    color: #fff;
}

.carousel-controls.prev{
    left: 0;
}

.carousel-controls.next{
    right: 70px;
}

.control-box{
    width: 99%;
    top: 36%;
    position: absolute;
    text-align: right;
    display: none;
}



/********************************************** NAVBAR  **********************************************/
.navbar-default{
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    background-color: #141414;
    border: none;
    background-image: unset;
    border-radius: 0;
    z-index: 99;
    box-shadow: 1px 1px 10px 0px #000;
}

.navbar-default .navbar-nav>li>a {
    color: #dedede;
}

.navbar-default .navbar-nav>li>a:hover{
    color: #fff;
}

.btn-default{
    background-color: #fff;
    padding: 6px;
    margin-top: 8px;
    width: 400px;
}

.btn-default i {
    margin-right: 300px;
}

.search-bar{
    margin-top: 10px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 30px;
    right: 50px;
    position: fixed;
}

.search-filter{
    position: fixed;
    right: 0;
    padding: 13px;
    font-size: 20px;
    cursor:pointer;
}

.search-input{
    color: black;
    border: 0;
    outline: 0;
    background: none;
    line-height: 30px;
    padding: 0 10px;
    width: 350px;
}

.search-icon{
    height: 30px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #000;
}


/********************************************** CONTAINER SEARCH  **********************************************/

.container-search{
    margin-top: 100px;
    width: 80%;
    left: 11.5%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 1000ms, visibility 1000ms;
    transition: opacity 1000ms, visibility 1000ms;
    position: absolute;
}

.container-search > li{
    width: 230px;
    padding: 10px;
}

.container-search > .card{
    width: 210px;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}

/********************************************** TOOLTIP  **********************************************/
