
body {
    background-color: #191919;
    color: #fff;
    overflow-x : hidden;
    overflow-y : hidden;
}

img { max-width:100%; }

a{
    text-decoration: none !important;
    outline: 0 !important;
}

.content{
    margin-top: 50px;
    position: absolute;
    width: 100%;
}

.container{
    margin-left: 0;
    width: 100%;

}

.thumbnails > .col-sm-3:hover{
    /* transform: scale(1.2);
     transition-duration: 0.3s;
    margin-right: 20px;
    margin-left: 20px*/
}

/********************************************** CAROUSEL **********************************************/

#container-carousel{
    margin-top: 50px;
    margin-bottom: 100px;
    -webkit-transition: opacity 500ms, visibility 500ms;
    transition: opacity 500ms, visibility 500ms;
}

#container-carousel > .col-xs-12{
    margin-bottom: 50px;
}

.carousel-inner{
    margin-left: 10px;
}


.card{
    position: absolute;
    cursor: pointer;
    background-color: #000;
    left: 0;
    width: 100%;
    height: 100%;
}

.card > .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 130px;
    background-color: #000;
    opacity: 0.3;
    display: none;
}

.card > .info {
    position: absolute;
    top: 0;
    width: 86%;
    height: 129px;
    z-index: 99;
    opacity: 0;
    transition: opacity 1000ms ease-in-out;
    backface-visibility: hidden;
}

.card > .info > h6{
    font-weight: bold;
    font-size: 11px;
    text-shadow: 1px 1px 5px #000;
    margin-left: 5px;
}


.card > .info-overlay{
    width: 100%;
    height: 129px;
    position: absolute;
    background-color: #000;
    top: 0;
    opacity: 0.5;
    display: none;
}

.card > .info > h6.title{
    margin-top: 45px !important;
    margin-bottom: 2px !important;
}

.card > .info > h6.status{
    color: #36ff3e;
    font-size: 8px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    display: inline-block;
    /*margin-left: 5px;*/
}


.card > .info > h6.seasons{
    position: relative;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    font-size: 8px;
    color: #fdfdfd;
    font-style: italic;
    display: inline-block;
    padding-left: 5px;
}

.card > .info > p{
    font-size: 7px;
    text-shadow: 1px 1px 5px #000;
    margin-left: 5px;
    margin-bottom: 0;
    text-align: justify;
}

.card > .icons{
    position: absolute;
    top: 10px;
    width: 94%;
    margin-left: 3%;
    opacity: 0;
    transition: opacity 1000ms ease-in-out;
    backface-visibility: hidden;
    z-index: 99;
}

.card > .icons > .icon{
    border: 1px solid #fff;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: rgba(16, 16, 16, 0.8);
    color: rgba(0, 0, 0, .8);
    position: absolute;
}

.card > .icons > .icon > i{
    color: #fff;
}

.card > .icons > .icon > i:hover{
    color: #fff;
}

.card > .icons > .icon.play{
    left: -3px;
    height: 23px;
    width: 23px;
    top: 3px;
}

.card > .icons > .icon.play > i{
    color: #fff;
    padding-top: 30%;
    padding-left: 33%;
    font-size: 11px;
}

.card > .icons > .icon.play > i:hover{
    color: #b74c4c;
}

.card > .icons > .icon.volume{
    right: 0;
    width: 20px;
    height: 20px;
}

.card > .icons > .icon.volume > i{
    color: #dedede;
    padding-left: 18%;
    font-size: 10px;
    position: absolute;
    top: 4px;
}

.card > .icons > .icon.volume > i:hover{
    color: #ffffff;
}

.card > .icons > .icon.thumb-up{
    right: 0;
    top:22px;
    width: 20px;
    height: 20px;
}

.card > .icons > .icon.thumb-up > i{
    color: #dedede;
    padding-left: 25%;
    font-size: 9px;
    position: absolute;
    top: 4px;
}

.card > .icons > .icon.thumb-up > i:hover{
    color: #7ee27d;
}

.card > .icons > .icon.thumb-down{
    right: 0;
    top:44px;
    width: 20px;
    height: 20px;
}

.card > .icons > .icon.thumb-down > i{
    color: #dedede;
    padding-left: 25%;
    font-size: 9px;
    position: absolute;
    top: 4px;
}

.card > .icons > .icon.thumb-down > i:hover{
    color: #da6b6bcc;
}

.card > .icons > .icon.plus{
    right: 0;
    top:66px;
    width: 20px;
    height: 20px;
}

.card > .icons > .icon.plus > i{
    color: #dedede;
    padding-left: 26%;
    font-size: 10px;
    position: absolute;
    top: 4px;
}

.card > .icons > .icon.plus > i:hover{
    color: #7ee27d;
}

.card > .icons > .icon.more-info {
    top: 103px;
    border: none;
    color: rgb(0, 0, 0);
    padding-left: 110px;
    background-color: #00000075;
    border-radius: 0;
    left: 0;
    padding-right: 110px;
    margin-left: -8px;
}

.card > .icons > .icon.more-info  > i{
    color: #dedede;
    font-size: 20px;
    text-shadow: 1px 1px 10px #000;
}

.card > .icons > .icon.more-info  > i:hover{
    color: #b74c4c;
}
.thumbnails li {
    width: 230px;
    height: 129px;
    background-color: #fff;
    transition: transform 200ms ease-in-out;
    padding: 0;
    margin-left: 3px;
    overflow: hidden;
}

.thumbnails li:hover {
    -ms-transform: scale(1.7); /* IE 9 */
    -webkit-transform: scale(1.7); /* Safari */
    transform: scale(1.7); /* Standard syntax */
}

.navbar{
    min-height: unset;
}

.navbar-nav>li {
    font-size: 16px;
    padding-top: 2px;
}

/*.thumbnails li:nth-child(1):hover {
    transform: scale(1.7) translate(60px, 0);
}*/

.thumbnail > a img{
    width: 350px;
    height: 138px;
}

.card > video{
    position: relative;
    top: 0;
    opacity: 0;
    width: 231px;
    height: 130px;
    transition: opacity 300ms ease-in-out;
}

.carousel-inner {
    overflow: unset;
}

.thumbnail{
    padding: 0 !important;
    border: none !important;
    margin: 0 !important;
}

.page-header h3 {
    line-height: 0.88rem;
    color: #000;
}

.carousel-header h4{
    left: 55px;
    position: relative;
    color: #ffffff;
    font-size: 19px;
    font-weight: bold;
}

ul.thumbnails {
    margin-bottom: 0;
}

.caption h4 {
    color: #444;
}

.caption p {
    color: #999;
}

/*.thumbnail > a img{
    height: 130px;
    margin: 0;
}*/

/* Mobile Only */
@media (max-width: 767px) {
    .page-header, .control-box {
        text-align: center;
    }
}
@media (max-width: 479px) {
    .caption {
        word-break: break-all;
    }
}

li { list-style-type:none;}

a { list-style-type:none;}



/********************************************** CAROUSEL CONTROLS**********************************************/

.carousel-controls{
    position: absolute;
    background-color: transparent!important;
    border: none!important;
    opacity: 0.5;
    border: 0;
    border-radius: 0;
    display: inline-block;
    font-size: 34px;
    font-weight: 200;
    line-height: 18px;
    padding: 4px 10px 0;
}

.carousel-controls:hover{
    opacity: 0.8;
}

.carousel-controls i{
    font-size: 40px;
    color: #fff;
}

.carousel-controls.prev{
    left: -10px;
}

.carousel-controls.next{
    right: -10px;
}

.control-box{
    width: 99%;
    top: 35%;
    position: absolute;
    text-align: right;
    display: none;
}



/********************************************** NAVBAR  **********************************************/
.navbar-default{
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    background-color: #5b1b1b;
    border: none;
    background-image: unset;
    border-radius: 0;
    z-index: 99;
    box-shadow: 1px 1px 10px 0px #000;
}

.navbar-default .navbar-nav>li>a {
    color: #dedede !important;
}

.navbar-default .navbar-nav>li>a:hover{
    color: #fff !important;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    padding-left: 0;
}

.btn-default{
    background-color: #fff;
    padding: 6px;
    margin-top: 8px;
    width: 400px;
}

.btn-default i {
    margin-right: 300px;
}

.search-bar{
    margin-top: 10px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 30px;
    right: 10px;
    position: fixed;
}

.search-return{
    position: fixed;
    padding: 13px;
    cursor: pointer;
    right: 370px;
    margin-top: 2px;
    font-size: 17px;
    display: none;
}

.search-return i{
    color: #ddd;
    margin-right: 10px;
}

.search-return i:hover{
    color: #fff;
}

.search-input{
    color: black;
    border: 0;
    outline: 0;
    background: none;
    line-height: 30px;
    padding: 0 10px;
    width: 350px;
}

.search-icon{
    height: 30px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #000;
    margin-top: -30px;
}


/********************************************** CONTAINER SEARCH  **********************************************/

.container-search{
    padding: 30px;
    width: 82%;
    top: 30px;
    left: 270px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 300ms, visibility 300ms;
    transition: opacity 300ms, visibility 300ms;
    min-height: 600px;
    position: absolute;


}
.container-search > li{
    width: 230px;
    padding: 10px;
}

.container-search > .col-xs-12{
    margin-bottom: 30px;
    margin-top: 30px;
}

.container-search > .card-search > .overlay{
    position: relative;
    width: 100%;
    height: 120px;
    background-color: #000;
}
/********************************************** SIDEBAR **********************************************/

/* TOP */
#wrapper-top{
    position: fixed;
    top: 60px;
    z-index: 99;
    width: 82%;
    left: 275px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-top-wrapper {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: #18181875;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: 0.8;
    display: none;
}

#sidebar-top-wrapper::-webkit-scrollbar {
    display: none;
}

#wrapper-top.toggled #sidebar-top-wrapper {
    position: unset;
    border: none;
}

/* LEFT */
#wrapper-left{
    position: fixed;
    left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border: none;
    width: 270px;
    margin-left: 5px;
    z-index: 2;
}

#sidebar-left-wrapper {
    overflow-y: auto;
    overflow-x: hidden;
    background: transparent;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: 0.6;
    display: none;
    position: relative;
    height: 100%;
    border: none;
    margin: 0;
}

#sidebar-left-wrapper > h4{
    padding-top: 10px;
    padding-bottom: 11px;
    margin-right: 6px;
    margin-bottom: 0;
    background: #18181875;
}

#sidebar-left-wrapper > h4 > i{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
}

#sidebar-left-wrapper::-webkit-scrollbar {
    display: none;
}

#wrapper-right.toggled #sidebar-right-wrapper {
    width: 200px;
    top: 0;
    position: relative;
    display: none;
    border: none;
}

/* RIGHT */
#wrapper-right{
    position: fixed;
    right: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border: none;
    height: 100%;
    top: 102px;
}

#sidebar-right-wrapper {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    background-color: #191919;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: 0.8;
    display: none;

}

#sidebar-right-wrapper::-webkit-scrollbar {
    display: none;
}

#wrapper-right.toggled #sidebar-right-wrapper {
    width: 200px;
    top: 0;
    position: relative;
    display: none;
    border: none;
}


/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: relative;
    top: 0;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav.top{
    display: flex;
    width: 100%;
}

.sidebar-nav.right{
    display: inline-block;
    width: 180px;
}

.sidebar-nav.left{
    display: inline-block;
    width: 100%;
    margin: 0;
    padding-left: 2px;
    padding-right: 4px;
    padding-bottom: 10px;
}

.sidebar-nav li {
    line-height: 20px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}


.sidebar-nav.top li:nth-child(1) {
   /* border-left:1px solid #5b1b1b;*/
}

.sidebar-nav.top li:nth-child(6) {
    /*border-left:1px solid #5b1b1b;*/
}

.sidebar-nav.top li{
    width: 20%;
    /*border-right: 1px solid #5b1b1b;*/
}

.sidebar-nav.right li{
    width: 100%;
    border-bottom: 2px solid #191919;
}

.sidebar-nav.left li{
    width: 100%;
    text-align: left;
    padding-bottom: 10px;
}

.sidebar-nav.left li > i{
    position: absolute;
    margin-top: 7px;
    font-size: 15px;
    color: #c3bfbf;
    text-shadow: 1px 1px 1px #000;
}

.sidebar-nav.left button{
    margin-top: 10px;
    margin-right: 10px;
}

.sidebar-nav.left button > i{
    margin-right: 8px;
    font-size: 12px;
}

.sidebar-nav.left > li > select{
    display: inline-block;
    width: 85%;
    margin-left: 8%;
    /* right: 0; */
    height: 24px;
    /* position: absolute; */
    margin-right: 10px;
    padding: 0;
    top: 8px;
}

.select2{
    width: 85% !important;
    margin-left: 5%;
    margin-right: 10px;
    padding: 0;
}

.sidebar-nav.top li:hover {

   /* background-color: #8c1616;*/

    background-color: #6b1c1c;
  /*  content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
    -moz-transition:  width .2s ease-in;
    -ms-transition:  width .2s ease-in;
    transition: width .2s ease-in;*/
}

.sidebar-nav.left li:hover {
   /* background-color: #262323;*/
}


.sidebar-nav.right li:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
    -moz-transition:  width .2s ease-in;
    -ms-transition:  width .2s ease-in;
    transition: width .2s ease-in;
}

.sidebar-nav.top li:nth-child(1):before {
    background-color: #ac4848;
}
.sidebar-nav.top li:nth-child(2):before {
    background-color: #ac4848;
}
.sidebar-nav.top li:nth-child(3):before {
    background-color: #ac4848;
}
.sidebar-nav.top li:nth-child(4):before {
    background-color: #ac4848;
}
.sidebar-nav.top li:nth-child(5):before {
    background-color: #ac4848;
}
.sidebar-nav.top li:nth-child(6):before {
    background-color: #ac4848;
}
.sidebar-nav.top li.active {
    background-color: #ac4848;
}

.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: all .2s ease-in;
    -moz-transition:  all .2s ease-in;
    -ms-transition:  all .2s ease-in;
    transition: all .2s ease-in;
}

.sidebar-nav li a {
    display: block;
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000;
    /*background-color: #6b1c1c;*/
}

.sidebar-nav.right li a {
   /* text-align: center;*/
}

.caret{
    right: 10px;
    position: absolute;
    top: 20px;
}

.dropdown-menu{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    left: 10%;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
    height: 45px;
    font-size: 20px;
    line-height: 25px;
    /*box-shadow: 1px 1px 1px #000;*/
}

.sidebar-nav > .sidebar-brand > h4{
    padding: 5px;
    font-size: 16px;
    margin-left: 10px;
}

.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}


/******************** CAROUSEL INFO ***********************/

.carousel-info{
    position: relative;
    height: 300px;
    background-color: #00000094;
    top: 180px;
    margin-bottom: 150px;
    margin-top: -45px;
    display: none;
    left: 3.5%;
    width: 93.8%;
}

/******************** SELECT 2 ***********************/
.select2-results__options{
    color: black;

}

.select2-search__field{
    color: black;
}

.select2-selection--single{
    outline: 0 !important;
}

/**************** UTILS ********************/

.img-wall-anime{
    position: fixed;
    opacity: 0.1;
    width: 100%;
    height: 100%;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-size: cover;
}

.selected-filters{
    position: absolute;
    height: 30px;
    background-color: #00000038;
    top: 70px;
    display: none;
    left: 365px;
    width: 70%;
}

.selected-filters > span{
    display: inline-block;
    padding: 5px 15px;
    border-right: 1px solid #00000026;
}

.selected-filters > span > i{
    margin-right: 5px;
    font-size: 12px;
}

