#loader-wrapper-lg {
    background: transparent none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    transition: all 0.4s ease-out 0s;
    width: 100%;
    z-index: 1000;
    display: none;
}
#loader-lg {  
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    animation: 2s linear 0s normal none infinite running spin;
    border-color: #969696 transparent transparent;
    border-image: none;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    display: block;
    height: 80px;
    left: 50%;
    margin: -40px 0 0 -40px;
    position: relative;
    top: 50%;
    width: 80px;
    z-index: 1001;
}
#loader-lg::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    animation: 3s linear 0s normal none infinite running spin;
    border-color: #9f9f9f transparent transparent;
    border-image: none;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    bottom: 5px;
    content: "";
    left: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
}
#loader-lg::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    animation: 1.5s linear 0s normal none infinite running spin;
    border-color: #c6c6c6 transparent transparent;
    border-image: none;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    bottom: 15px;
    content: "";
    left: 15px;
    position: absolute;
    right: 15px;
    top: 15px;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#loader-wrapper-lg .loader-section {
    background: #fff none repeat scroll 0 0;
    height: 100%;
    position: fixed;
    top: 0;
    width: 51%;
    z-index: 1000;
}
#loader-wrapper-lg .loader-section.section-left {
    display: none;
    left: 0;
}
#loader-wrapper-lg .loader-section.section-right {
    display: none;
    right: 0;
}
.loaded #loader-wrapper-lg .loader-section.section-left {
    background: transparent none repeat scroll 0 0;
    transition: all 0.9s ease-out 0s;
}
.loaded #loader-wrapper-lg .loader-section.section-right {
    background: transparent none repeat scroll 0 0;
    transition: all 0.9s ease-out 0s;
}
.loaded #loader-lg {  
    opacity: 0;
}
.loaded #loader-wrapper-lg {
    background: transparent none repeat scroll 0 0;
    visibility: hidden;
}