

/*********** 400px ************/
@media only screen and (max-width: 350px) {

    /************** INDEX ****************/
    .thumbnails li{
        padding-left:0 !important;
        margin-left:0 !important;
        width: 223px !important;
        margin-bottom: 2px!important;
    }


    .thumbnails li:hover {
        transform: none !important;
    }

    .thumbnails{
        padding-left: 0 !important;
    }

    .carousel-inner{
        margin-left: 0!important;
    }

    .carousel-header h4{
        left: 0 !important;
    }


    #navbar-menu{
        border: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .navbar-nav{
        display: inline-block !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .navbar-nav>li{
        display: inline-block !important;
        font-size: 14px !important;
    }

    .search-bar{
        width: 280px !important;
        margin-top: 25px !important;
        left: 16px !important;
    }

    body > .ui-widget.ui-widget-content {
        left: 21px !important;
        width: 270px !important;
        top: 85px !important;
    }

    #wrapper-left{
        display: none !important;
    }

    #wrapper-top{
        left: 0 !important;
        top: 100px !important;
        width: 100% !important;
    }

    .sidebar-nav.top li {
        width: 80px !important;
    }

    .sidebar-nav.top {
        height: 45px !important;
    }

    .container{
        height: 100px !important;
    }

    .content{
        /*  overflow: hidden !important;*/
    }

    .search-return{
        display: none !important;
    }

    .search-input{
        width: 250px !important;
    }

    .container-search{
        left: 0 !important;
        top: 0 !important;
        width: 100% !important;
    }

    .container-search > .col-xs-12{
        top: 50px !important;
    }

    .card > .icons{
        margin-left: 5px !important;
    }

    /************* PLAYER ***********/

    .video-controls{
        width: 90% !important;
        left: 5% !important;
        bottom: 50px !important;
        opacity:1 !important;
    }

    .video-controls.rotate{
        width: 450px !important;
        left: 70% !important;
        top: 100px !important;
        opacity: 1 !important;
    }

    .video-progress{
        bottom: 110px!important;
        width: 220px!important;
        left: 20px!important;
    }

    .video-progress.rotate{
        top: 80px!important;
        width: 380px!important;
        left: 230px!important;
    }

    .btn-control{
        width: 18% !important;
    }

    .video-progress.rotate > .btn-control{
        width: 19% !important;
    }

    #btnReturn{
        left: 5px !important;
        top: 0 !important;
        position: fixed !important;
    }

    .btn-action > i {
        font-size: 35px !important;
    }

    #btnReport{
        display: none !important;
    }

    #btnFullScreen{
        display: none !important;
    }

    .control-title{
        display: none !important;
    }

    #btnSkipSeconds{
        display: none !important;
    }

    #btnBackSeconds{
        display: none !important;
    }

    #btnSkip{
        right: 10px!important;
        width: 95px !important;
        height: 30px!important;
        top: 10px !important;
    }

    #btnSkip > span{
        font-size: 12px!important;
        margin-top: 2px!important;
    }
    #btnSkip > span > i{
        display: none !important;
    }

    #btnNextEpisode{
        width: 300px !important;
        top: 28%!important;
        left: 55%!important;
        height: 180px!important;
    }

    .control-volume-slider{
        left:21% !important;
    }

    .control-volume-slider.rotate{
        left: 23% !important;
    }

    .control-episodes{
        width: 300px !important;
        height: 300px!important;
        bottom: 60px!important;
        left: -5px!important;
    }

    .control-episodes.rotate{
        width: 300px !important;
        height: 240px!important;
        bottom: 60px !important;
        left: 66px!important;
    }

    .control-episodes > .body{
        overflow-x: hidden !important;
        background-color: #252222 !important;
        height: 260px !important;
    }

    .control-episodes.rotate > .body{
        height: 185px !important;

    }

    .control-episodes > span{
        border-top: 10px solid #252222 !important;
        left: 43% !important;
    }

    .control-episodes > .body > .episode-info > p{
        left: 145px!important;
        width: 145px!important;
        font-size: 10px!important;
        color: #fff!important;
        top: 2px !important;
    }

    .progress{
        top: 115px!important;
        left: 12px!important;
        width: 125px!important;
    }

    .aux-progress{
        top: 115px!important;
        left: 9px!important;
    }

    .control-episodes > .body > .episode-info > img{
        width: 130px!important;
        height: 90px!important
    }

    .control-episodes > .body > .episode-info > span{
        height: 35px!important;
        width: 35px!important;
        left: 18%!important;
        top: 24%!important;
    }

    .control-episodes > .body > .episode-info > span > i{
        font-size: 15px!important;
        top: 25%!important;
        left: 35%!important;
    }

    .video-viewport{
        width: 325px!important;
        left: 180px!important;
        height: 100% !important;
        margin-top: 0 !important;
    }

    .video-viewport.rotate{
        width: 560px!important;
        left: 585px!important;
        margin-top: -160px !important;
        top: 0!important;
    }

    .control-episodes > .body > .episode-info{
        height: 110px !important;
    }

    .control-next-episode{
        width: 170px!important;
        height: 130px !important;
        left: 15% !important;
    }

    .control-next-episode.rotate{
        left: 33% !important;
    }

    .control-next-episode > em{
        display: none !important;
    }

    .control-next-episode > h5{
        top: 15px !important;
        left: 0 !important;
        font-size: 12px !important;
    }

    .control-next-episode > h4{
        font-size: 10px !important;
        margin-top: 7px !important;
    }

    .control-next-episode > img{
        top: 30% !important;
    }
    .control-next-episode > span{
        right: 8% !important;
    }

    .video-notification{
        top: 10% !important;
        left: 40% !important;
    }

    .control-tooltip.return{
        top: 15px !important;
        left: 60px!important;
        width: 120px!important;
        height: 25px!important;
    }

    .control-tooltip.return > span{
        top: 1px !important;
        left: -7px !important;
    }

    .control-tooltip.return > h5{
        font-size: 10px !important;
        margin-top: 7px !important;
    }
}



/*********** 450px ************/
@media screen and (min-width: 350px) and (max-width: 450px) {

    /************** INDEX ****************/
    .thumbnails li{
        padding-left:0 !important;
        margin-left:0 !important;
        width: 223px !important;
        margin-bottom: 2px!important;
    }


    .thumbnails li:hover {
        transform: none !important;
    }

    .thumbnails{
        padding-left: 18px !important;
    }

    .carousel-inner{
        margin-left: 0!important;
    }

    .carousel-header h4{
        left: 0 !important;
    }


    #navbar-menu{
        border: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .navbar-nav{
        display: inline-block !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .navbar-nav>li{
        display: inline-block !important;
        font-size: 14px !important;
    }

    .search-bar{
        width: 280px !important;
        margin-top: 25px !important;
        left: 36px !important;
    }

    body > .ui-widget.ui-widget-content {
        left: 42px !important;
        width: 270px !important;
        top: 85px !important;
    }

    #wrapper-left{
        display: none !important;
    }

    #wrapper-top{
        left: 0 !important;
        top: 100px !important;
        width: 100% !important;
    }

    .sidebar-nav.top li {
        width: 100px !important;
    }

    .sidebar-nav.top {
        height: 45px !important;
    }

    .container{
        height: 100px !important;
    }

    .content{
        /* overflow: hidden !important;*/
    }

    .search-return{
        display: none !important;
    }

    .search-input{
        width: 250px !important;
    }

    .container-search{
        left: 0 !important;
        top: 0 !important;
        width: 100% !important;
    }

    .container-search > .col-xs-12{
        top: 50px !important;
    }

    .card > .icons{
        margin-left: 5px !important;
    }

    /************* PLAYER ***********/

    .video-controls{
        width: 90% !important;
        left: 6.2% !important;
        bottom: 50px !important;
        opacity: 1 !important;
    }

    .video-controls.rotate{
        width: 450px !important;
        left: 78% !important;
        top: 100px !important;
        opacity: 1 !important;
    }

    .video-progress{
        bottom: 110px!important;
        width: 250px!important;
        left: 32px!important;
    }

    .video-progress.rotate{
        top: 80px!important;
        width: 390px!important;
        left: 280px!important;
    }

    .btn-control{
        width: 18% !important;
    }

    .video-progress.rotate > .btn-control{
        width: 19% !important;
    }

    #btnReturn{
        left: 5px !important;
        top: 0 !important;
        position: fixed !important;
    }

    .btn-action > i {
        font-size: 35px !important;
    }

    #btnReport{
        display: none !important;
    }

    #btnFullScreen{
        display: none !important;
    }

    .control-title{
        display: none !important;
    }

    #btnSkipSeconds{
        display: none !important;
    }

    #btnBackSeconds{
        display: none !important;
    }

    #btnSkip{
        right: 10px!important;
        width: 95px !important;
        height: 30px!important;
        top: 70px !important;
    }

    #btnSkip > span{
        font-size: 12px!important;
        margin-top: 2px!important;
    }
    #btnSkip > span > i{
        display: none !important;
    }

    #btnNextEpisode{
        width: 300px !important;
        top: 28%!important;
        left: 55%!important;
        height: 180px!important;
    }

    .control-volume-slider{
        left:21% !important;
    }

    .control-volume-slider.rotate{
        left: 23% !important;
    }

    .control-episodes{
        width: 300px !important;
        height: 300px!important;
        bottom: 60px!important;
        left: -5px!important;
    }

    .control-episodes.rotate{
        width: 300px !important;
        height: 240px!important;
        bottom: 60px !important;
        left: 66px!important;
    }

    .control-episodes > .body{
        overflow-x: hidden !important;
        background-color: #252222 !important;
        height: 260px !important;
    }

    .control-episodes.rotate > .body{
        height: 185px !important;

    }

    .control-episodes > span{
        border-top: 10px solid #252222 !important;
        left: 50% !important;
    }

    .control-episodes > .body > .episode-info > p{
        left: 145px!important;
        width: 145px!important;
        font-size: 10px!important;
        color: #fff!important;
        top: 2px !important;
    }

    .progress{
        top: 115px!important;
        left: 12px!important;
        width: 125px!important;
    }

    .aux-progress{
        top: 115px!important;
        left: 9px!important;
    }

    .control-episodes > .body > .episode-info > img{
        width: 130px!important;
        height: 90px!important
    }

    .control-episodes > .body > .episode-info > span{
        height: 35px!important;
        width: 35px!important;
        left: 18%!important;
        top: 24%!important;
    }

    .control-episodes > .body > .episode-info > span > i{
        font-size: 15px!important;
        top: 25%!important;
        left: 35%!important;
    }

    .video-viewport{
        width: 346px!important;
        left: 180px!important;
        margin-top: 5px !important;
    }

    .video-viewport.rotate{
        width: 560px!important;
        left: 585px!important;
        margin-top: -160px !important;
        top: 0!important;
    }

    .control-episodes > .body > .episode-info{
        height: 110px !important;
    }

    .control-next-episode{
        width: 170px!important;
        height: 130px !important;
        left: 20% !important;
    }

    .control-next-episode.rotate{
        left: 33% !important;
    }

    .control-next-episode > em{
        display: none !important;
    }

    .control-next-episode > h5{
        top: 15px !important;
        left: 0 !important;
        font-size: 12px !important;
    }

    .control-next-episode > h4{
        font-size: 10px !important;
        margin-top: 7px !important;
    }

    .control-next-episode > img{
        top: 30% !important;
    }
    .control-next-episode > span{
        right: 8% !important;
    }

    .video-notification{
        top: 10% !important;
        left: 40% !important;
    }

    .control-tooltip.return{
        top: 15px !important;
        left: 60px!important;
        width: 120px!important;
        height: 25px!important;
    }

    .control-tooltip.return > span{
        top: 1px !important;
        left: -7px !important;
    }

    .control-tooltip.return > h5{
        font-size: 10px !important;
        margin-top: 7px !important;
    }

}


/*********** 600px ************/
@media screen and (min-width: 450px) and (max-width: 600px) {

    /************** INDEX ****************/
    .thumbnails li{
        padding-left:0 !important;
        margin-left:0 !important;
        width: 223px !important;
        margin-bottom: 2px!important;
    }


    .thumbnails li:hover {
        transform: none !important;
    }

    .thumbnails{
        padding-left: 18px !important;
    }

    .carousel-inner{
        margin-left: 0!important;
    }

    .carousel-header h4{
        left: 0 !important;
    }


    #navbar-menu{
        border: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .navbar-nav{
        display: inline-block !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .navbar-nav>li{
        display: inline-block !important;
        font-size: 14px !important;
    }

    .search-bar{
        width: 280px !important;
        margin-top: 25px !important;
        left: 36px !important;
    }

    body > .ui-widget.ui-widget-content {
        left: 42px !important;
        width: 270px !important;
        top: 85px !important;
    }

    #wrapper-left{
        display: none !important;
    }

    #wrapper-top{
        left: 0 !important;
        top: 100px !important;
        width: 100% !important;
    }

    .sidebar-nav.top li {
        width: 100px !important;
    }

    .sidebar-nav.top {
        height: 45px !important;
    }

    .container{
        height: 100px !important;
    }

    .content{
        /* overflow: hidden !important;*/
    }

    .search-return{
        display: none !important;
    }

    .search-input{
        width: 250px !important;
    }

    .container-search{
        left: 0 !important;
        top: 0 !important;
        width: 100% !important;
    }

    .container-search > .col-xs-12{
        top: 50px !important;
    }

    .card > .icons{
        margin-left: 5px !important;
    }

    /************* PLAYER ***********/

    .video-controls{
        width: 90% !important;
        left: 6.2% !important;
        bottom: 50px !important;
        opacity: 1 !important;
    }

    .video-controls.rotate{
        width: 450px !important;
        left: 78% !important;
        top: 100px !important;
        opacity: 1 !important;
    }

    .video-progress{
        bottom: 110px!important;
        width: 250px!important;
        left: 32px!important;
    }

    .video-progress.rotate{
        top: 80px!important;
        width: 390px!important;
        left: 280px!important;
    }

    .btn-control{
        width: 18% !important;
    }

    .video-progress.rotate > .btn-control{
        width: 19% !important;
    }

    #btnReturn{
        left: 5px !important;
        top: 0 !important;
        position: fixed !important;
    }

    .btn-action > i {
        font-size: 35px !important;
    }

    #btnReport{
        display: none !important;
    }

    #btnFullScreen{
        display: none !important;
    }

    .control-title{
        display: none !important;
    }

    #btnSkipSeconds{
        display: none !important;
    }

    #btnBackSeconds{
        display: none !important;
    }

    #btnSkip{
        right: 10px!important;
        width: 95px !important;
        height: 30px!important;
        top: 70px !important;
    }

    #btnSkip > span{
        font-size: 12px!important;
        margin-top: 2px!important;
    }
    #btnSkip > span > i{
        display: none !important;
    }

    #btnNextEpisode{
        width: 300px !important;
        top: 28%!important;
        left: 55%!important;
        height: 180px!important;
    }

    .control-volume-slider{
        left:21% !important;
    }

    .control-volume-slider.rotate{
        left: 23% !important;
    }

    .control-episodes{
        width: 300px !important;
        height: 300px!important;
        bottom: 60px!important;
        left: -5px!important;
    }

    .control-episodes.rotate{
        width: 300px !important;
        height: 240px!important;
        bottom: 60px !important;
        left: 66px!important;
    }

    .control-episodes > .body{
        overflow-x: hidden !important;
        background-color: #252222 !important;
        height: 260px !important;
    }

    .control-episodes.rotate > .body{
        height: 185px !important;

    }

    .control-episodes > span{
        border-top: 10px solid #252222 !important;
        left: 50% !important;
    }

    .control-episodes > .body > .episode-info > p{
        left: 145px!important;
        width: 145px!important;
        font-size: 10px!important;
        color: #fff!important;
        top: 2px !important;
    }

    .progress{
        top: 115px!important;
        left: 12px!important;
        width: 125px!important;
    }

    .aux-progress{
        top: 115px!important;
        left: 9px!important;
    }

    .control-episodes > .body > .episode-info > img{
        width: 130px!important;
        height: 90px!important
    }

    .control-episodes > .body > .episode-info > span{
        height: 35px!important;
        width: 35px!important;
        left: 18%!important;
        top: 24%!important;
    }

    .control-episodes > .body > .episode-info > span > i{
        font-size: 15px!important;
        top: 25%!important;
        left: 35%!important;
    }

    .video-viewport{
        width: 346px!important;
        left: 180px!important;
        margin-top: 5px !important;
    }

    .video-viewport.rotate{
        width: 560px!important;
        left: 585px!important;
        margin-top: -160px !important;
        top: 0!important;
    }

    .control-episodes > .body > .episode-info{
        height: 110px !important;
    }

    .control-next-episode{
        width: 170px!important;
        height: 130px !important;
        left: 20% !important;
    }

    .control-next-episode.rotate{
        left: 33% !important;
    }

    .control-next-episode > em{
        display: none !important;
    }

    .control-next-episode > h5{
        top: 15px !important;
        left: 0 !important;
        font-size: 12px !important;
    }

    .control-next-episode > h4{
        font-size: 10px !important;
        margin-top: 7px !important;
    }

    .control-next-episode > img{
        top: 30% !important;
    }
    .control-next-episode > span{
        right: 8% !important;
    }

    .video-notification{
        top: 10% !important;
        left: 40% !important;
    }

    .control-tooltip.return{
        top: 15px !important;
        left: 60px!important;
        width: 120px!important;
        height: 25px!important;
    }

    .control-tooltip.return > span{
        top: 1px !important;
        left: -7px !important;
    }

    .control-tooltip.return > h5{
        font-size: 10px !important;
        margin-top: 7px !important;
    }

}