body{
    padding: 0 !important;
    background-color:#000;
    /* overflow: hidden;*/
}

.content{
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;

   /* overflow: hidden;*/
}


/************************* VIDEO **************************/
.video-viewport{
    margin: 40px 180px 0 180px;
    position: relative;
}

.video-viewport > video{
    width:100%;
}

.video-error{
    position: absolute;
    top: 25%;
    left: 15%;
}

.video-related > .container-video{
    position: absolute;
    background-color: #000;
    width: 400px;
    height: 230px;
    top: 122px;
    cursor: pointer;
    right: 10%;
    border: 1px solid #fff;
}

.video-related > .container-video > h1{
    color: #fff;
    margin-left: 20px;
    left: -20px;
    position: absolute;
    top: -100px;
}

.video-related > .container-video > video{
    width: 100%;
    height: 100%;
}

.video-related > .container-video > .info{
    position: absolute;
    width: 400px;
    height: 150px;
    background-color: #080707;
    bottom: -160px;
    left: 0;
}

.video-related > .container-video > .info > .info-inner{
    color: #fff;
    font-size: 12px;
    background-color: #272424;
    height: 120px;
}
.video-related > .container-video > .info > .info-inner > p{
    margin-left: 10px;
    text-align: justify;
    padding-top: 10px;
    margin-right: 10px;
}

.video-related > .container-video > .info > h5{
    color: #fff;
    font-size: 16px;
    margin-left: 10px;
}

/************************* CONTROLS **************************/
.video-controls{
    position: fixed;
    height: 48px;
    bottom: 160px;
    background-color: #262626;
    border-radius: 10px;
    display: none;
    opacity: 0.9;
    width: 60%;
    left: 20%;
    user-select: none;
    outline: 0;
}

.video-controls.fullscreen{
    bottom: 100px;
}

.btn-control{
    height: 100%;
    width: 7%;
    position: relative;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: 0;
    box-shadow: 3px 1px 1px -2px #000;
}

.btn-control > i{
    color: #b7b7b7;
    font-size: 25px;
    padding-top: 3px;
}

.control-title{
    position: relative;
    padding-right: 55%;
    box-shadow: 3px 1px 1px -2px #000;
    padding-bottom: 29px;
    bottom: 18px;
    padding-top: 4px;
    user-select: none;
}

.control-title > h4{
    color: #fff;
    top: 8px;
    position: absolute;
    display: inline;
    padding-right: 2px;
    font-weight: bold;
    font-size: 15px;
    padding-left: 10px;
    overflow: hidden;
}

.control-title > span{
    padding-left: .5em;
    color: #adadad;
    top: 18px;
    position: absolute;
    font-size: 13px;
    overflow: hidden;
}

.control-volume-slider{
    bottom: 56px;
    left: 9%;
    position: absolute;
    width: 40px;
    height: 150px;
    background-color: #262626;
    border-radius: 10px;
    display: none;
}

.control-volume-slider > span{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #262626;
    z-index: 0;
    left: 25%;
    position: absolute;
    bottom: -7px;
}

.control-episodes{
    bottom: 56px;
    left: 15%;
    position: absolute;
    background-color: #262626;
    width: 400px;
    height: 400px;
    display: none;
}

.control-episodes > span{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #262626;
    z-index: 0;
    left: 5%;
    position: absolute;
    bottom: -7px;
}

.control-episodes > .body{
    position: relative;
    top: 40px;
    width: 100%;
    height: 340px;
    overflow-y: auto;
}

.control-episodes > .head{
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: #191818;
    user-select: none;
}

.control-episodes > .head:hover{
    background-color: #312f2f;
}

.control-episodes > .head > i{
    position: absolute;
    padding: 10px 15px 10px 15px;
    font-size: 20px;
    border-right: 1px solid #000;
    color: #c1c1c1;
    cursor:pointer;
}

.control-episodes > .head > h5{
    position: absolute;
    left: 60px;
    padding-top: 4px;
    color: #c1c1c1;
    font-size: 15px;
}

.control-episodes > .body > .episode{
    position: relative;
    height: 40px;
    cursor: pointer;
    opacity: 0.7;
    border-bottom: 1px solid #191919;
}

.control-episodes > .body > .episode-info{
    position: relative;
    background-color: #833b3bb8;
    cursor: pointer;
    display: none;
    height: 115px;
    padding-top: 10px;
}

.control-episodes > .body > .episode-info > img{
    width: 130px;
    height: 85px;
    margin-left: 8px;
}

.control-episodes > .body > .episode-info > span{
    height: 45px;
    width: 45px;
    background-color: #0000007a;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 52px;
    top: 32px;
}

.control-episodes > .body > .episode-info:hover span{
    background-color: #0000008c;
}
.control-episodes > .body > .episode-info > span > i{
    color: #fff0f0;
    position: relative;
    left: 36%;
    top: 30%;
    font-size: 18px;
}

.control-episodes > .body > .episode-info > p{
    position: absolute;
    top: 10px;
    width: 242px;
    left: 145px;
    color: #ddd;
    font-size: 12px;
    text-align: justify;
    text-shadow: 1px 1px 1px #000;
    margin-top: 0;
}

.control-episodes > .body > .episode.active{
    background-color: #000;
}

.control-episodes > .body > .episode:hover{
    background-color: #464646;
}

.control-episodes > .body > .episode > h5{
    color: #fff;
    top: 0;
    position: absolute;
    left: 10px;
    user-select: none;
    margin-top: 14px;
    font-size: 13px;
    text-shadow: 1px 1px 1px #000;
    /* width: 230px;
     text-overflow: ellipsis;
     white-space: nowrap;
     overflow: hidden;*/
}

.control-episodes > .body > .episode > .progress{
    position: absolute;
    width: 130px;
    height: 3px;
    right: 15px;
    border-radius: 0;
    margin-top: 19px;
    margin-bottom: 13px;
}
.control-episodes > .body > .episode > .aux-progress{
    background-color: #b13b3b;
    position: absolute;
    width: 0;
    height: 3px;
    z-index: 99;
    left: 249px;
    margin-top: 19px;
    margin-bottom: 13px;
}
.control-episodes > .body > .episode-info > .progress{
    position: absolute;
    width: 130px;
    height: 3px;
    left: 8px;
    border-radius: 0;
    margin-top: 0;
    margin-bottom: 0;
    bottom: 8px;
}

.control-episodes > .body > .episode-info > .aux-progress{
    background-color: #b13b3b;
    width: 0;
    height: 3px;
    z-index: 99;
    position: absolute;
    left: 8px;
    border-radius: 0;
    margin-top: 0;
    margin-bottom: 0;
    bottom: 8px;
}


.control-episodes > .body > .episode > i{
    font-size: 20px;
    position: absolute;
    right: 0;
    color: #c3c3c3;
    padding: 8px 10px 7px 10px;
    border-left:1px solid #191919;
}

.control-episodes > .body > .episode:hover > i{
    color: #fff;
}

.control-episodes > .body > .season{
    position: relative;
    height: 35px;
    opacity: 0.7;
    border-bottom: 1px solid #191919;
    cursor: pointer;
}

.control-episodes > .body > .season:hover{
    background-color: #464646;
}

.control-episodes > .body > .season.active{
    background-color: #a23838;
}

.control-episodes > .body > .season > h5{
    color: #fff;
    top: 0;
    position: absolute;
    left: 10px;
    user-select: none;
}

.control-episodes > .body > .season > i{
    position: absolute;
    right: 0;
    font-size: 20px;
    color: #c3c3c3;
    padding: 7px 10px 7px 10px;
    border-left: 1px solid #191919;
}

.control-episodes > .body > .season:hover > i{
    color: #fff;
}

.control-episodes > .head > h4{
    color: #fff;
    margin-left: 10px;
    font-size: 16px;
}

.control-next-episode{
    bottom: 56px;
    right: 8.5%;
    position: absolute;
    background-color: #262626;
    border-radius: 10px;
    width: 400px;
    height: 150px;
    display: none;
    cursor: pointer;
}

.control-next-episode > i{
    font-size: 45px;
    position: absolute;
    top: 60px;
    z-index: 99;
    left: 60px;
    color: #fff1f1;
    opacity: 0.6;
    background-color: #000000;
    border-radius: 100px;
    cursor: pointer;
    padding: 5px;
    display: none;
}

.control-next-episode > i:hover{
    opacity: 0.8;
}

.control-next-episode > h4{
    color: #fff;
    font-weight: bold;
    top: 0;
    position: absolute;
    margin-left: 10px;
    font-size: 15px;
    margin-right: 10px;
}

.control-next-episode > h5{
    position: absolute;
    top: 0;
    left: 40%;
    color: #fff;
    font-weight: bold;
    margin-left: 10px;
}

.control-next-episode > img{
    width: 150px;
    margin-top: 0;
    display: list-item;
    position: absolute;
    margin-left: 10px;
    top: 27%;
}

.control-next-episode > span{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #262626;
    z-index: 0;
    right: 6%;
    position: absolute;
    bottom: -7px;
}

.control-next-episode > em{
    position: absolute;
    top: 30%;
    left: 40%;
    color: #fff;
    overflow: hidden;
    height: 70%;
    text-align: justify;
    font-size: 12px;
    margin-right: 10px;
    margin-left: 10px;
}

.control-previous-episode{
    bottom: 56px;
    right: 16%;
    position: absolute;
    background-color: #262626;
    border-radius: 10px;
    width: 400px;
    height: 150px;
    display: none;
}

.control-previous-episode > h4{
    color: #fff;
    font-weight: bold;
    top: 0;
    position: absolute;
    margin-left: 10px;
    font-size: 15px;
    margin-right: 10px;
}

.control-previous-episode > h5{
    position: absolute;
    top: 10%;
    left: 40%;
    color: #fff;
    font-weight: bold;
    margin-left: 10px;
}

.control-previous-episode > img{
    width: 150px;
    margin-top: 0;
    display: list-item;
    position: absolute;
    margin-left: 10px;
    top: 27%;
}

.control-previous-episode > span{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #262626;
    z-index: 0;
    right: 6%;
    position: absolute;
    bottom: -7px;
}

.control-previous-episode > em{
    position: absolute;
    top: 35%;
    left: 40%;
    color: #fff;
    overflow: hidden;
    height: 70%;
    text-align: justify;
    font-size: 12px;
    margin-right: 10px;
    margin-left: 10px;
}
/*
.control-next-episode > em:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
}

.control-next-episode > p:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
}*/
/************************* ACTIONS **************************/
.video-actions{
    display: block;
}

.btn-action{
    position: absolute;
    top: 0;
    background-color: transparent;
    border: none;
    display: none;
    user-select: none;
    outline: 0;
}

.btn-action > i{
     color: #a2a2a2;
     font-size: 45px;
 }

.btn-action > i:hover{
    color: #f9f9f9;
    font-size: 45px;
}

.btn-action.return{
    width: 70px;
    height: 60px;
    user-select: none;
    outline: 0;
    left: 60px;
    top: 60px;
    display: none;
}

.btn-action.skip{
    width: 180px;
    height: 40px;
    right: 200px;
    top: 100px;
    background-color: #262626;
    opacity: 0.7;
    color: #fff;
    border-radius: 10px;
    display: none;
}

.btn-action.skip:hover {
    opacity: 0.6;
}

.btn-action.skip > span{
    font-size: 18px;
    position: absolute;
    left: 10%;
    top: 20%;
}

.btn-action.skip > span > i{
    margin-left: 10%;
    font-size: 24px;
    position: absolute;
}

.btn-action.next {
    background-color: #262626;
    margin-top: 10.5%;
    right: 18%;
    width: 400px;
    height: 230px;
    opacity: 0.6;
    border: 2px solid #fff;
    display: none;
}

.btn-action.next:hover {
    opacity: 0.9;
}

.btn-action.next  > span{
    color: #fff;
    font-weight: 600;
    font-family: sans-serif;
}

.btn-action.next > span > span{
    color: #f00;
}

.btn-control.skip-secs{
    background-color: transparent;
    border: none;
    user-select: none;
    outline: 0;
    right: 16.5%;
    opacity: 0.7;
    position: fixed;
    bottom: 163px;
    height: 40px;
    width: 50px;
    box-shadow: none;
}

.btn-control.fullscreen.skip-secs{
    bottom: 103px;
}

.btn-control.skip-secs:hover{
    opacity: 0.9;
}

.btn-control.skip-secs > i{
    color: #2d2e2c;
    font-size: 30px;
}

.btn-control.back-secs{
    background-color: transparent;
    border: none;
    user-select: none;
    outline: 0;
    left: 16.5%;
    opacity: 0.7;
    position: fixed;
    bottom: 163px;
    height: 40px;
    width: 50px;
    box-shadow: none;
}

.btn-control.fullscreen.back-secs{
    bottom: 103px;
}

.btn-control.back-secs:hover{
    opacity: 0.9;
}

.btn-control.back-secs > i{
    color: #2d2e2c;
    font-size: 30px;
}


#btnFullScreen{
    box-shadow: none;
}
/************************* PROGRESS **************************/
.video-progress{
    position: fixed;
    height: 8px;
    background-color: #262626;
    opacity: 0.9;
    cursor: pointer;
    display: none;
    border-radius: 5px;
    bottom: 220px;
    left: 21%;
    width: 55%;
}

.video-progress.fullscreen{
    bottom: 160px;
}

#progress-aux{
    width: 0;
    background-color: #b13b3b;
    position: relative;
    height: 100%;
    border-radius: 5px;;
    z-index: 2;
}

#progress-buffer{
    width: 0;
    top: 0;
    background-color: #464442;
    position: absolute;
    height: 100%;
    border-radius: 5px;
    transition: all 3s ease;
    z-index: 1;
}

#progress-time{
    position: absolute;
    right: -55px;
    top: -3px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    margin-top: -3px;
    text-shadow: 1px 1px 1px #000;
}

/************************* SLIDER **************************/

.ui-slider.ui-slider-vertical{
    background-color: #ffffff;
    width: 25%;
    margin-left: 36%;
    height: 70%;
    top: 24px;
    position: absolute;
    border-radius: 20px;
    margin-right: 30%;
}

.ui-slider.ui-slider-vertical > .ui-slider-range{
    background-color: #262626;
}
.ui-slider.ui-slider-vertical > .ui-slider-handle{
    width: 18px;
    height: 17px;
    position: absolute;
    border-radius: 20px;
    background-color: #a73f3f;
    cursor: pointer;
    left: -4px;
    margin-bottom: -10px;
    box-shadow: -1px 2px 10px 1px #000;
    user-select: all;
    outline: 0;
    z-index: 99;
}

.ui-slider.ui-slider-horizontal{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.ui-slider.ui-slider-horizontal > .ui-slider-handle{
    width: 18px;
    height: 18px;
    position: absolute;
    border-radius: 20px;
    background-color: rgb(183, 183, 183);
    cursor: pointer;
    box-shadow: rgb(0, 0, 0) -1px 2px 10px 1px;
    user-select: all;
    outline: 0;
    z-index: 99;
    top: -7px;
    margin-left: -8px;
}

/************************* TOOLTIP **************************/

.control-tooltip{
    color: #fff;
    position: absolute;
    background-color: #262626;
    display: none;
}

.control-tooltip > h5{
    font-family: sans-serif;
    font-weight: 600;
}

.control-tooltip.return{
    top: 11px;
    left: 80px;
    width: 150px;
    height: 35px;
    opacity: 0.8;
}
.control-tooltip.return > span{
    width: 0;
    height: 0;
    border-right: 20px solid #262626;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    z-index: 0;
    left: -11px;
    position: absolute;
    top: 6px;
}
.control-tooltip.skip-secs{
    top: -50px;
    left: 2px;
    width: 160px;
    height: 35px;
    border-radius: 8px;
}
.control-tooltip.skip-secs > span{
    width: 0;
    height: 0;
    border-top: 20px solid #262626;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    z-index: 0;
    position: absolute;
    top: 25px;
    left: 10px;
}

.control-tooltip.back-secs{
    top: -50px;
    right: 2px;
    width: 160px;
    height: 35px;
    border-radius: 8px;
}
.control-tooltip.back-secs > span{
    width: 0;
    height: 0;
    border-top: 20px solid #262626;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    z-index: 0;
    position: absolute;
    top: 25px;
    right: 10px;
}

.control-tooltip.report{
    top: -45px;
    left: -150px;
    width: 320px;
    height: 35px;
    border-radius: 5px;
}
.control-tooltip.report > span{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #262626;
    z-index: 0;
    left: 170px;
    position: absolute;
    bottom: -8px;
}

.control-tooltip.episode{
    top: -45px;
    left: -65px;
    width: 195px;
    height: 35px;
    border-radius: 5px;
}
.control-tooltip.episode > span{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #262626;
    z-index: 0;
    position: absolute;
    bottom: -8px;
    left: 90px;
}

/*********************** VIDEO NOTIFICATION ************************/

.video-notification {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    opacity: 0.5;
    display: none;
    background-color: #fff;
}

.video-notification > i{
    color: #000;
    font-size: 40px;
}


.video-notification.back{
    top: 40%;
    left: 50px;
    padding-top: 16px;
    padding-left: 16px;
}

.video-notification.skip{
    top: 40%;
    right:50px;
    padding-top: 16px;
    padding-left: 18px;
}

.video-notification.up{
    top: 5%;
    left: 48%;
    padding-top: 16px;
    padding-left: 10px;
}

.video-notification.down{
    top: 5%;
    left: 48%;
    padding-top: 16px;
    padding-left: 20px;
}

.video-notification.pause{
    top: 5%;
    left: 48%;
    padding-top: 15px;
    padding-left: 17px;
}

.video-notification.play{
    top: 5%;
    left: 48%;
    padding-top: 15px;
    padding-left: 20px;
}

.alert{
    opacity: 1;
    width: 350px;
    left: 40%;
    position: absolute;
    padding: 5px;
    margin-top: 15px;
    -webkit-transition: all 3s ease;
    -moz-transition: all 3s ease;
    -o-transition: all 3s ease;
    transition: all 3s ease;
}

/*************** UTILS **************/

.dot{
    height: 55px;
    width: 55px;
    background-color: #0000007a;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    /* left: 55px; */
    /* top: 21px; */
    z-index: 99;
}

.dot > i{
    color: #fff;
    position: relative;
    left: 36%;
    top: 30%;
    font-size: 22px
}

.dot.next-episode{
    left: 55px;
    top: 55px;
}

.control-next-episode:hover .dot{
    background-color: #0000008c;
}

/******** TESTE ********/

.control-episodes-2{
    position: fixed;
    top: 60px;
    right: 180px;
    height: 600px;
    display: block;
}